/* Start CSS Reset */
html, body {
    height: 100%
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Roboto", Arial, Helvetica, sans-serif;
    background-color: #d9dee2;
    background-image: url("images/so-white.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebeef2), to(#d9dee2));
    background-image: -webkit-linear-gradient(top, #ebeef2, #d9dee2);
    background-image: -moz-linear-gradient(top, #ebeef2, #d9dee2);
    background-image: -ms-linear-gradient(top, #ebeef2, #d9dee2);
    background-image: -o-linear-gradient(top, #ebeef2, #d9dee2);
    background-image: linear-gradient(top, #ebeef2, #d9dee2);
    padding: 0;
    margin: 0;
}

.content-divider {
    margin-top: 10px;
    margin-bottom: 30px;
}

.content-divider-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.table {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3d3d3d;
}

.table-fullwidth {
    width: 100%;
}

.table th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    background: #34a8ff;
    color: white;
}

.table td {
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 10px 15px 10px 15px;
    padding: 2px 5px 2px 5px;
    min-height: 35px;
}

.table tr {
    background-color: #ffffff;
}

.locked {
    color: #ff5600;
    font-weight: bold;
}

.disabled {
    color: #ff2727;
    font-weight: bold;
}

.table thead {
    border-bottom: 2px solid #ddd;
}

.table tbody > tr:hover {
    background: #f8f8f8;
}

.highlight {
    background-color: #bcdaff;
}

th {
    background-color: #ffffff;
    color: black;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}
input, textarea, button {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    overflow: hidden;
    resize: none;
}
/* End CSS Reset */
.grid-items{
    border: 1px solid red;
}

body {
    display: grid;
    background-color: #ffffff;
    grid-template-rows: 80px 567px 277px auto 190px 500px 205px;
    max-width: 1920px;
    margin: 0 auto;
}
header {
    height: 80px;
    display: grid;
    grid-template-columns: 375px 1fr 375px;
    background-color: #202628;
}
.banner {

}
.row1 {
    display: grid;
    grid-template-columns: 375px 1fr 375px;
    background-color:#e7e7e7;
}
.row1__content {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.row2 {
    display: grid;
    grid-template-columns: 375px 1fr 375px;
    background-color: #ffffff;
}

.row2__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 204px;
    grid-column-gap: 30px;
    grid-template-areas:
        'title title row2_img '
        'section1 section2 row2_img';
}
.row2__title{
    grid-area:title;
}
.row2__section1 {
    grid-area: section1;
}
.row2__section2 {
    grid-area: section2;
}
.row2__img {
    grid-area: row2_img;
}
.row2__img img{
    border-radius: 177px; 
}
.row3 {
    display:grid;
    grid-template-columns: 375px 1fr 375px;
}
.row3__content {
    background-color: #e84c3d;
    padding: 50px 30px 45px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}
.row3__image_container {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    background-color: #202628;
}
.row3 h2 {
    padding-bottom: 30px;
}
    .row3__section1 {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-column-gap: 30px;
    }

.row3__section2 input {
    width: 380px;
    height: 40px;
    padding-left: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
}
.row3__section2 button {
    background-color: #202628;
    color: #ffffff;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}
.row4 {
    display: grid;
    grid-template-columns: 375px 1fr 375px;
}
.row4__content {
    padding: 70px 0 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.row4__content h2{
    padding-bottom:30px;
}
    .row4__section {
    display: grid;
    padding: 30px 0;
    grid-template-columns: 70px 1fr;
    grid-column-gap: 30px;
    border-top: 1 solid #e7e7e7;
}
        .row4__section img {
            border-radius: 35px;
            width: 100%;
            height: 100%;
        }
.row4__section2 form {
    background-color: #e7e7e7;
    padding: 35px 30px 30px 30px;
}
.row4__section2 input{
    width:305px;
    height:40px;
    border-radius:20px;
    padding-left:20px;
    margin-bottom:20px;
}
.row4__section2 button {
    border-radius: 7px;
    background-color: #e84c3d;
    border-radius: 20px;
    padding-left: 20px;
    width: 100px;
    height: 40px;
    margin: 20px 0;
}
    footer {
}
.content{
    grid-column: 2 / 3;
}